html.okupanel #wpadminbar { display: none; }

html.okupanel, html.okupanel body {
	background: #000;
    line-height: normal;
}

html.okupanel body.okupanel-fullscreen {
    overflow: hidden;
}

html.okupanel .okupanel-bg-wrap {
	background: url(../img/feminismo.png) repeat -40px -120px transparent;
}
html.okupanel .okupanel-fullscreen .okupanel-bg-wrap {
	overflow: hidden !important;
	background: none;
}
.okupanel-table a {
	text-decoration: none;
	box-shadow: none;
}
.okupanel-table {
	border-collapse: collapse;
    position: relative;
    z-index: 1;
}
html.okupanel .okupanel-table {
	color: white;
}
.okupanel-table tr {
	border: none;
}
.okupanel-table .okupanel-table-tr td {
	position: relative;
	vertical-align: top;
	padding: 5px 8px 3px;
	line-height: normal;
	border: 1px solid #777;
	text-align: left;
	background: rgba(0,0,0,0.02);
}
html.okupanel .okupanel-table .okupanel-table-tr td {
	background: rgba(0,0,0,0.8);
}
.okupanel-table .okupanel-table-tr td i.fa {
	color: #777;
	margin-left: 6px;
}
.okupanel-ind-until-th {
	float: right;
	margin-right: 3px;
}
.okupanel-ind-until {
    color: #777;
    margin-left: 5px;
    font-size: 11px;
    font-weight: normal;
    display: inline-block;
    margin-top: 4px;
    float: right;
}
.okupanel-ind-until i {
    position: relative;
    top: -3px;
}
.okupanel-table td,
.okupanel-table th {
	border: 1px solid transparent;
}
.okupanel-table th {
	position: relative;
}
html.okupanel .okupanel-table .okupanel-table-tr td,
html.okupanel .okupanel-table .okupanel-table-tr td a,
html.okupanel .okupanel-table .okupanel-table-tr td a:active,
html.okupanel .okupanel-table .okupanel-table-tr td a:focus {
	color: #FFFF00;
	outline: 0 !important;
}

html.okupanel .okupanel-table .okupanel-table-tr td.okupanel-table-td-id-duration,
html.okupanel .okupanel-table .okupanel-table-tr td.okupanel-table-td-id-duration a {
	color: #777;
}
html.okupanel .okupanel-table .okupanel-table-tr td a:hover {
	color: rgb(224, 224, 109);
}

.okupanel-desynced-ind {
	display: none;
}
.okupanel-desynced .okupanel-desynced-ind {
	display: inline-block;
}
.okupanel-desynced-ind i {
    margin-right: 12px;
    font-size: 24px;
    font-weight: normal;
    position: relative;
    top: -1px;
    color: red;
   -webkit-animation: okupanel_cyclic_fade_animation 2.5s infinite;
   -moz-animation: okupanel_cyclic_fade_animation 2.5s infinite;
   -o-animation: okupanel_cyclic_fade_animation 2.5s infinite;
    animation: okupanel_cyclic_fade_animation 2.5s infinite;
}
.okupanel-desynced .okupanel-update-ind {
	color: red;
}
.okupanel-panel-inner {
	float: left;
	width: 100%;
	clear: both;
}

.okupanel-table .okupanel-table-tr td .okupanel-ind-recurrence {
	color: #777;
	font-size: 11px;
	font-weight: normal;
}
.okupanel-table tr.okupanel-started td {
	font-weight: bold;
}

i.fa.okupanel-fixed-icon {
    width: 24px;
    text-align: center;
    margin: 0;
}

.okupanel-table td.okupanel-table-td-id-icon {
	width: 28px;
}

.okupanel-table td.okupanel-table-td-id-start {
	text-align: left;
	white-space: nowrap;
}

.okupanel-table td.okupanel-table-td-id-location,
.okupanel-table td.okupanel-table-td-id-start,
.okupanel-table td.okupanel-table-td-id-end {
	white-space: nowrap;
}

@media screen and (min-width: 801px){
	html.okupanel .okupanel-table .okupanel-table-tr td.okupanel-table-td-id-start,
	html.okupanel .okupanel-table .okupanel-table-tr td.okupanel-table-td-id-start a,
	html.okupanel .okupanel-table .okupanel-table-tr td.okupanel-table-td-id-start a:active,
	html.okupanel .okupanel-table .okupanel-table-tr td.okupanel-table-td-id-start a:focus {
		border-top-color: transparent;
		border-bottom-color: transparent;
	}


	html.okupanel .okupanel-table .okupanel-start-same.okupanel-table-tr td.okupanel-table-td-id-start,
	html.okupanel .okupanel-table .okupanel-start-same.okupanel-table-tr td.okupanel-table-td-id-start a,
	html.okupanel .okupanel-table .okupanel-start-same.okupanel-table-tr td.okupanel-table-td-id-start a:active,
	html.okupanel .okupanel-table .okupanel-start-same.okupanel-table-tr td.okupanel-table-td-id-start a:focus {
		color: transparent;
	}


	html.okupanel .okupanel-table .okupanel-start-first.okupanel-table-tr td.okupanel-table-td-id-start,
	html.okupanel .okupanel-table .okupanel-start-first.okupanel-table-tr td.okupanel-table-td-id-start a,
	html.okupanel .okupanel-table .okupanel-start-first.okupanel-table-tr td.okupanel-table-td-id-start a:active,
	html.okupanel .okupanel-table .okupanel-start-first.okupanel-table-tr td.okupanel-table-td-id-start a:focus {
		border-top-color: #777 !important;
	}

	html.okupanel .okupanel-table .okupanel-start-last.okupanel-table-tr td.okupanel-table-td-id-start,
	html.okupanel .okupanel-table .okupanel-start-last.okupanel-table-tr td.okupanel-table-td-id-start a,
	html.okupanel .okupanel-table .okupanel-start-last.okupanel-table-tr td.okupanel-table-td-id-start a:active,
	html.okupanel .okupanel-table .okupanel-start-last.okupanel-table-tr td.okupanel-table-td-id-start a:focus {
		border-bottom-color: #777 !important;
	}
}

.okupanel-table td.okupanel-table-td-space {
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    height: 2px;
    background: #084129;
    line-height: 2px;
    background: transparent;
}
.okupanel-table .okupanel-table-tr td.okupanel-table-td-center {
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    padding-top: 15px;
    padding-bottom: 5px;
    background: transparent;
    color: #777;
    position: relative;
}
html.okupanel .okupanel-table .okupanel-table-tr td.okupanel-table-td-center {
    color: white;
}
.okupanel-table .okupanel-table-tr.okupanel-today td.okupanel-table-td-center {
	font-weight: bold;
}

.okupanel-header {
    position: relative;
    z-index: 3;
	text-align: center;
	font-size: 40px;
	padding: 8px 20px;
	color: #777;
}
html.okupanel .okupanel-header {
	color: white;
}

.okupanel-header span {
	font-size: 30px;
	margin-left: 4px;
	position: relative;
	top: -3px;
	font-weight: bold;
}
.okupanel-moving-ready.okupanel-moving .okupanel-table-top {
	z-index: 6;
	position: relative;
}
.okupanel-moving-ready.okupanel-moving .okupanel-table-top table {
	z-index: 8;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
}
.okupanel-moving-ready.okupanel-moving .okupanel-table-bottom {
	z-index: 9;
}

.okupanel-moving-ready.okupanel-moving .okupanel-table-top .okupanel-tr-not-first,
.okupanel-moving-ready.okupanel-moving .okupanel-table-top .okupanel-table-td-space,
.okupanel-moving-ready.okupanel-moving .okupanel-table-top .okupanel-tr-not-first td,
.okupanel-moving-ready.okupanel-moving .okupanel-table-top .okupanel-table-td-space td {
/*.okupanel-moving-ready.okupanel-moving .okupanel-table-bottom .okupanel-table-headers,
.okupanel-moving-ready.okupanel-moving .okupanel-table-bottom .okupanel-tr-space-first,
.okupanel-moving-ready.okupanel-moving .okupanel-table-bottom .okupanel-table-headers th,
.okupanel-moving-ready.okupanel-moving .okupanel-table-bottom .okupanel-tr-first {
* */
	border: none !important;
	visibility: hidden;
	opacity: 0;
}

.okupanel-table-bottom {
	visibility: hidden;
}
.okupanel-moving-ready .okupanel-table-bottom {
	visibility: visible;
}

.okupanel-moving-ready.okupanel-moving .okupanel-table-bottom {
    overflow: hidden;
}
.okupanel-moving-ready.okupanel-moving .okupanel-table-bottom-inner,
.okupanel-moving-ready .okupanel-table-moving {
    position: relative;
}
.okupanel-panel {
    clear: both;
    display: inline-block;
    vertical-align: top;
    width: 100%;
}
.okupanel-fullscreen .okupanel-panel {
	margin-bottom: 9999px;
}
.okupanel-panel-left {
	width: 73%;
	position: relative;
	float: left;
	padding: 10px 0 10px 20px;
	box-sizing: border-box;
}
.okupanel-ytw-has-playing .okupanel-panel-left {
	width: 60%;
}
.okupanel-panel-right {
    width: 27%;
    position: relative;
    float: right;
    padding: 24px 30px 20px 30px;
    color: white;
    overflow: hidden;
    box-sizing: border-box;
    word-break: break-word;
}

.okupanel-ytw-has-playing .okupanel-panel-right {
	width: 40%;
}
.okupanel-network-wrap {
	margin-bottom: 11px;
	line-height: normal;
    position: relative;
}
.okupanel-network-wrap.okupanel-network-wrap-iconed {
    padding-left: 34px;
}
.okupanel-fullscreen .okupanel-network-wrap.okupanel-network-wrap-iconed {
    padding-left: 40px;
}
.okupanel-network-wrap.okupanel-network-wrap-iconed i.okupanel-network-icon {
	font-size: 22px;
    position: absolute;
    left: 2px;
    top: -2px;
    text-align: center;
    width: 21px;
}
.okupanel-fullscreen .okupanel-network-wrap.okupanel-network-wrap-iconed i.okupanel-network-icon {
    font-size: 25px;
    top: 2px;
}
.okupanel-network-wrap.okupanel-network-wrap-iconed .okupanel-network-url {
    margin-left: 6px;
}

.okupanel-network {
	display: block;
	font-size: 90%;
	margin-bottom: 1px;
}
.okupanel-network-url {
	display: block;
	margin-left: 20px;
	font-size: 90%;
}
html.okupanel .okupanel-network-url,
html.okupanel .okupanel-network-url a {
	color: #ddd;
}
.okupanel-network-url > span {
	display: block;
	margin-left: 18px;
}

.okupanel-network-sep {
height: 1px;
border-top: 1px solid #777;
margin-bottom: 12px;
margin-top: 15px;
}
.okupanel-header span.okupanel-update-ind {
    position: absolute;
    top: 9px;
    right: 7px;
    padding: 8px 10px 6px;
    font-weight: normal;
    font-size: 30px;
}

.okupanel-ind-new,
.okupanel-ind-custom-status,
.okupanel-ind-mod {
	display: inline-block;
	border: 1px solid #ccc;
	padding: 3px 4px 2px;
	position: relative;
	top: -1px;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 12px;
	color: #777;
	background: white;
}

html.okupanel .okupanel-ind-new,
html.okupanel .okupanel-ind-custom-status,
html.okupanel .okupanel-ind-mod {
	color: #ccc;
	background: none;
}
@keyframes okupanel_cyclic_fade_animation {
  0%   { opacity:1; }
  20%   { opacity:1; }
  50%  { opacity:0.2; }
  80%   { opacity:1; }
  100% { opacity:1; }
}
@-o-keyframes okupanel_cyclic_fade_animation{
  0%   { opacity:1; }
  20%   { opacity:1; }
  50%  { opacity:0.2; }
  80%   { opacity:1; }
  100% { opacity:1; }
}
@-moz-keyframes okupanel_cyclic_fade_animation{
  0%   { opacity:1; }
  20%   { opacity:1; }
  50%  { opacity:0.2; }
  80%   { opacity:1; }
  100% { opacity:1; }
}
@-webkit-keyframes okupanel_cyclic_fade_animation{
  0%   { opacity:1; }
  20%   { opacity:1; }
  50%  { opacity:0.2; }
  80%   { opacity:1; }
  100% { opacity:1; }
}

/*
.okupanel-starting .okupanel-table-td-id-start {
   -webkit-animation: okupanel_cyclic_fade_animation 2.5s infinite;
   -moz-animation: okupanel_cyclic_fade_animation 2.5s infinite;
   -o-animation: okupanel_cyclic_fade_animation 2.5s infinite;
    animation: okupanel_cyclic_fade_animation 2.5s infinite;
}
*/

.okupanel-table-headers th,
.okupanel-table-mobile-header {
	font-style: italic;
	text-align: left;
	font-weight: normal;
	font-size: 12px;
	color: #777;
}
html.okupanel .okupanel-table-headers th,
html.okupanel .okupanel-table-mobile-header {
	color: #eee;
}
.okupanel-table-headers th {
	border-bottom: 1px solid #777;
}
.okupanel-table-mobile-header {
    padding: 0;
    text-decoration: none;
    text-transform: none;
    position: absolute;
}
.okupanel-table-mobile-header-right {
    right: 0;
}
.okupanel-table-mobile-header-left {
    left: 0;
}
.okupanel-network-sep-last {
	display: none;
}

.okupanel-panel-mobile-menu a {
	display: none;
	text-align: center;
	padding: 0 20px;
	text-decoration: none;
}
html.okupanel .okupanel-panel-mobile-menu a {
	color: white;
}
.okupanel-panel-mobile-menu a:active,
.okupanel-panel-mobile-menu a:focus,
.okupanel-panel-right a:active,
.okupanel-panel-right a:focus {
	outline: 0 !important;
}
.okupanel-panel-right a:hover {
	text-decoration: underline;
}
.okupanel-tr-mobile-metas {
	display: none;
	float: right;
}
.okupanel-table-mobile-header,
.okupanel-ind-duration {
	display: none;
}
html.okupanel .okupanel-table .okupanel-table-tr td .okupanel-tr-mobile-metas,
html.okupanel .okupanel-table .okupanel-table-tr td .okupanel-tr-mobile-metas a {
	color: #eee;
}

.okupanel-footer {
	font-size: 12px;
	background: none;
	padding: 20px 8px 10px;
	text-align: center;
	color: #777;
}

html.okupanel .okupanel-fullscreen .okupanel-footer {
	background: #000;
	position: fixed;
	bottom: 0;
	right: 0;
	padding: 4px 8px;
	font-size: 10px;
}

.okupanel-footer i.fa-copyright {
font-size: 13px;
position: relative;
margin: 0 1px 0 2px;
}
.okupanel-fullscreen .okupanel-footer i.fa-copyright {
font-size: 12px;
margin: 0 1px;
}

html.okupanel .okupanel-footer,
html.okupanel .okupanel-footer a {
	color: #777;
}
.okupanel-footer a {
	text-decoration: none;
	outline: 0 !important;
}
.okupanel-footer a:hover {
	text-decoration: underline;
}


.okupanel-table-top .okupanel-table,
.okupanel-table-moving {
	margin-right: 2px;
}


/* RESPONSIVE */

@media screen and (max-width: 800px){
	.okupanel-panel-left,
	.okupanel-panel-right {
		padding: 0 20px;
		margin-bottom: 30px;
		display: block;
		float: none;
		width: 100%;
		clear: both;
	}
	.okupanel-panel-right {
		display: none;
	}
	.okupanel-panel-mobile-menu {
		text-align: right;
	}
	.okupanel-panel-mobile-menu a {
		display: inline-block;
		vertical-align: top;
		margin: 15px 20px;
		border: 1px solid #777;
		padding: 4px 8px;
		font-size: 12px;
		text-transform: uppercase;
	}
	.okupanel-panel-mobile-menu a:hover {
		border: 1px solid #aaa;
		color: white;
	}
	.okupanel-panel-mobile-menu-open .okupanel-panel-right {
		display: block;
	}
	.okupanel-table td.okupanel-table-td-center {
		padding-top: 25px;
	}
	.okupanel-network-sep-last {
		display: block;
	}
	.okupanel-table td {
		display: block;
	}
	td.okupanel-table-td.okupanel-table-td-id-start {
		border: none;
		background: none;
		margin: 10px 0 0 0;
		font-size: 14px;
	}
	.okupanel-ind-until {
		font-size: 14px;
	}
	html.okupanel td.okupanel-table-td.okupanel-table-td-id-start,
	html.okupanel td.okupanel-table-td.okupanel-table-td-id-start a {
		color: #eee;
	}
	.okupanel-ind-until {
		display: none;
	}
	.okupanel-ind-duration {
		display: inline;
	}
	td.okupanel-table-td.okupanel-table-td-id-summary {
		margin: 3px 0 0px 0;
		padding: 10px 8px 7px;
		clear: both;
		box-sizing: border-box;
	}
	.okupanel-table td.okupanel-table-td.okupanel-table-td-id-location,
	.okupanel-table td.okupanel-table-td.okupanel-table-td-id-duration,
	.okupanel-table-headers {
		display: none !important;
	}
	.okupanel-table td.okupanel-table-td-space {
		height: 20px;
		border: none;
	}
	.okupanel-tr-mobile-metas {
		display: inline-block;
	}
	.okupanel-table-mobile-header {
		display: inline-block;
	}
	.okupanel-table-mobile-header-left {
		float: left;
	}
	.okupanel-table-mobile-header-right {
		float: right;
	}
	.okupanel-table .okupanel-table-tr td.okupanel-table-td-center {
		padding-bottom: 4px;
	}
	.okupanel-table-tr.okupanel-table-tr-id-0 td.okupanel-table-td-space,
	.okupanel-update-ind {
		display: none;
	}

}


/* FONTS */

.okupanel-table .okupanel-table-tr td.okupanel-table-td-center,
html.okupanel .okupanel-table .okupanel-table-tr td.okupanel-table-td-center { font-family: led_board; }

.okupanel-header,
html.okupanel .okupanel-header { font-family: soljik_dambaek; }
html.okupanel .okupanel-table .okupanel-table-tr td { font-family: F25_bank_printer; }
.okupanel-header span,
.okupanel-header .okupanel-header span,
.okupanel-panel-right { font-family: nasalization; }

html.okupanel .okupanel-table-headers th,
.okupanel-panel-right .okupanel-network-url,
.okupanel-table-mobile-header,
.okupanel-panel-mobile-menu a,
.okupanel-header span.okupanel-update-ind,
html.okupanel .okupanel-header span.okupanel-update-ind { font-family: 'roboto'; }

/* ROTATE ANIMATION */

@-moz-keyframes okupanel_rotatebox /*--for firefox--*/{
    from {
        -moz-transform:rotate(-180deg);
    }
    to {
        -moz-transform:rotate(180deg);
    }
}

@-webkit-keyframes okupanel_rotatebox /*--for webkit--*/{
    from {
        -webkit-transform:rotate(-180deg);
    }
    to {
        -webkit-transform:rotate(180deg);
    }
}

.okupanel_rotatebox {
	-moz-animation-name: okupanel_rotatebox;
	-moz-animation-duration: 0.8s;
	-moz-animation-iteration-count: 1;
	-moz-animation-fill-mode: forwards;

	-webkit-animation-name: okupanel_rotatebox;
	-webkit-animation-duration: 0.8s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-fill-mode: forwards;
}

@keyframes okupanel_pulse_animation {
	0% { transform: scale(1); }
	30% { transform: scale(1); }
	40% { transform: scale(1.16); }
	50% { transform: scale(1); }
	60% { transform: scale(1); }
	70% { transform: scale(1.10); }
	80% { transform: scale(1); }
	100% { transform: scale(1); }
}

/* PULSE ANIMATION */

.okupanel-pulse {
-webkit-animation:okupanel_pulse .4s linear ease-in-out infinite;
-moz-animation:okupanel_pulse .4s linear ease-in-out infinite;
-ms-animation:okupanel_pulse .4s linear ease-in-out infinite;
animation:okupanel_pulse .4s ease-in-out infinite;
}

@keyframes okupanel_pulse {
0%{-webkit-transform:scale(1);-moz-transform:scale(1);-o-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}
50%{-webkit-transform:scale(0.9);-moz-transform:scale(0.9);-o-transform:scale(0.9);-ms-transform:scale(0.9);transform:scale(0.9)}
100%{-webkit-transform:scale(1);-moz-transform:scale(1);-o-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}
}

@-moz-keyframes okupanel_pulse {
0%{-moz-transform:scale(1);transform:scale(1)}
50%{-moz-transform:scale(0.9);transform:scale(0.9)}
100%{-moz-transform:scale(1);transform:scale(1)}
}

@-webkit-keyframes okupanel_pulse {
0%{-webkit-transform:scale(1);transform:scale(1)}
50%{-webkit-transform:scale(0.9);transform:scale(0.9)}
100%{-webkit-transform:scale(1);transform:scale(1)}
}
@-ms-keyframes okupanel_pulse {
0%{-ms-transform:scale(1);transform:scale(1)}
50%{-ms-transform:scale(0.9);transform:scale(0.9)}
100%{-ms-transform:scale(1);transform:scale(1)}
}




.shareaholic-canvas {
display: none !important;
}

body.okupanel-fullscreen .okupanel-panel {
    font-size: 20px;
}
html body.okupanel-fullscreen {
overflow: hidden !important;
}

html.okupanel .okupanel-table .okupanel-table-tr td.okupanel-table-td-center,
html.okupanel .okupanel-table .okupanel-table-tr td.okupanel-table-td-space {
background: none;
}

@media screen and (max-width: 800px){
td.okupanel-table-td.okupanel-table-td-id-start,
html.okupanel .okupanel-table .okupanel-table-tr td.okupanel-table-td-id-start { /* should be fixed in the plugin's css itself */
    background: none;
}
}

.okupanel-most-important,
.okupanel-youtube-widget {
    padding: 10px 10px;
    border: 1px solid #777;
    margin: 20px 0;
}

.okupanel-most-importants {
	display: none;
	margin: 30px 0;
}

.okupanel-fullscreen .okupanel-most-importants {
	display: block;
    font-size: 16px;
}

.okupanel-most-important > i {
    float: left;
    font-size: 23px;
    margin-left: 2px;
}
.okupanel-most-important-right {
    margin-left: 35px;
    font-size: 18px;
}

.okupanel-most-important-location {
	font-size: 14px;
	color: #aaa;
	display: block;
	margin: 4px 0 0;
}

.okupanel-fullscreen .okupanel-most-important-location {
	font-size: 18px;
}

.okupanel-fullscreen .okupanel-most-important > i {
	font-size: 30px;
    margin-left: 0;
}
.okupanel-fullscreen .okupanel-most-important-right {
	margin-left: 45px;
	font-size: 24px;
}

.okupanel-fullscreen .okupanel-most-important {
    padding: 10px 20px;
}

.okupanel-playing-ind {
	position: relative;
	left: -5px;
}



.okupanel-fullscreen .okupanel-table-headers th {
	font-size: 14px;
}


.okupanel-table .okupanel-table-tr td i.fa.fa-play,
.okupanel-table .okupanel-table-tr td i.fa.fa-bullhorn {
	color: #ccc;
	margin-right: 3px;
}

.okupanel-most-important-location a {
    display: inline-block;
    color: inherit;
    font-weight: inherit;
}

#okupanel-popup {
	display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    text-align: center;
    padding: 0 20px;
}
.okupanel-popup-bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background: rgba(0,0,0,0.4);
}

.okupanel-popup-inner {
	position: relative;
	z-index: 101;
    margin: 100px auto 60px;
    display: inline-block;
    vertical-align: top;
    border: 1px solid #FFFF00;
    padding: 0;
    color: white;
    border-radius: 4px;
}
.okupanel-popup-inner {
    background: black;
}

.okupanel-popup-title {
    padding: 20px 30px;
}
.okupanel-popup-title-label {
    font-weight: bold;
    font-size: 20px;
}
.okupanel-popup-content {
    background: white;
    text-align: left;
    color: black;
    border: 3px solid black;
    margin: 0 20px 20px;
}
.okupanel-popup-link a {
    color: inherit;
    text-decoration: none;
}

.okupanel-popup-content a {
	color: inherit;
	text-decoration: underline;
}
.xxxx-okupanel-bottom-bar-word {
	margin: 0 20px;
}

.okupanel-bottom-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    z-index: 9;
    color: white;
    border-top: 1px solid #777;
    display: none;
}


.okupanel-bottom-bar-inner {
    font-family: F25_bank_printer;
    position: relative;
    white-space: nowrap;
    clear: none;
	display: none;
	margin: 0;
	padding: 0;
}
.okupanel-bottom-bar-lines {
    white-space: nowrap;
	display: inline-block;
	clear: none;
	position: relative;
	margin: 0;
	padding: 0;
}
.okupanel-bottom-bar-line {
	display: inline-block;
	white-space: nowrap;
	clear: none;
	margin: 0;
    padding: 10px 200px 5px 0;
}

.okupanel-bottom-bar-line i {
	margin: 0 5px;
}

.okupanel-popup-content-intro {
    background: #eee;
    width: 100%;
    display: table;
}

.okupanel-popup-content-intro > div {
    display: table-row;
}

.okupanel-popup-content-intro > div > label,
.okupanel-popup-content-intro > div > span {
    display: table-cell;
	border-bottom: 1px solid #ccc;
    padding: 6px 30px 6px 20px;
}
.okupanel-popup-content-intro > div > label {
    width: 130px;
    padding: 5px 10px 5px 20px;
    font-weight: bold;
}


.okupanel-popup-content-body {
    padding: 20px 30px;
}
.okupanel-popup-content-body a {
	font-weight: normal;
	text-decoration: underline;
}
.okupanel-popup-close {
	cursor: pointer;
    position: absolute;
    bottom: 100%;
    right: 20px;
    z-index: 105;
    display: inline-block;
    font-weight: normal;
    background: #FFFF00;
    width: 34px;
    height: 29px;
    font-size: 22px;
    padding-top: 1px;
    border-radius: 4px 4px 0 0;
}
.okupanel-popup-close,
.okupanel-popup-close i {
    color: black;
}


.okupanel-header-wrap {
    /* background: url("../img/banner-hq.jpg"); */
}

.okupanel-summary-hashtag {
    position: relative;
    top: -1px;
    min-width: 78px;
    vertical-align: top;
    display: inline-block;
    padding-right: 2px;
}

.okupanel-popup-title-label .okupanel-ind-new,
.okupanel-popup-title-label .okupanel-ind-custom-status,
.okupanel-popup-title-label .okupanel-ind-mod {
	margin-left: 10px;
	top: -2px;
}

.okupanel-popup-title-label .okupanel-summary-hashtag {
	top: 2px;
	margin-right: 10px;
}

.okupanel-summary-hashtag span {
    background: #FFFF00;
    color: black;
    font-size: 14px;
    padding: 2px 3px;
    position: relative;
    font-weight: bold !important;
    display: inline-block;
    vertical-align: top;
    font-family: roboto;
    border-radius: 2px;
}

.okupanel-hashtag-link {
	margin-top: 20px;
	font-style: italic;
	color: #777;
}

.okupanel-hashtag-link i {
	margin-right: 6px;
}


.okupanel-info-bubble {
	position: absolute;
    top: 28px;
    font-style: normal;
    font-family: roboto;
    font-weight: bold;
    line-height: normal;
    left: -4px;
}
.okupanel-info-bubble,
.okupanel-info-bubble div {
    font-size: 21px;
    background: #FFFF00;
    color: #333;
    padding: 2px 5px;
    border-radius: 4px;
}
.okupanel-info-bubble div {
    z-index: -2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    box-shadow: 3px 4px 3px -2px #666;
}

.okupanel-info-bubble i {
	position: absolute;
    top: -7px;
    font-size: 49px;
    color: #ffff00;
    z-index: -1;
    left: 0px;
    text-shadow: 0px 2px 3px #666;
}

.okupanel-nextact-title div {
    white-space: nowrap;
    overflow: hidden;
    width: 250px;
    display: inline-block;
    text-overflow: ellipsis;
}
.okupanel-nextact-time {
    white-space: nowrap;
    white-space: nowrap;
    text-align: right;
    color: #555;
    margin: 0 0 0 9px;
}


.okupanel-nextactivities tr {
	border: none;
    border-top: 1px solid #777;
}

.okupanel-nextactivies-title {
	color: white;
}

.okupanel-nextactivities > span {

    margin-right: 15px;
    padding: 7px 0;
    display: inline-block;
    color: #ddd;
}
.okupanel-nextactivities > span.okupanel-nextact-day {
	color: white;
    text-transform: uppercase;
}

.okupanel-nextactivities > h3 {
    border-bottom: 1px solid #777;
    padding: 0 0 8px;
}

.okupanel-day-header-featured {
    position: absolute;
    left: 76px;
    white-space: nowrap;
    font-size: 12px;
    font-family: monospace;
    text-transform: none;
    margin: -1px 0 0 0;
    color: #bbb;
    font-weight: normal;
    display: none;
}

body.okupanel-fullscreen .okupanel-day-header-featured {
    display: inline-block;
}

@media screen and (min-width: 1200px){
	body .okupanel-day-header-featured {
		display: inline-block;
	}
}


.okupanel-table .okupanel-table-tr .okupanel-day-header-featured i.fa {
    margin: -1px 3px 0 0;
    font-size: 16px;
    vertical-align: top;
    color: #999;
}

body.okupanel-fullscreen .okupanel-day-header-featured {
    left: 87px;
    margin-top: 5px;
    font-size: 15px;
}
body.okupanel-fullscreen .okupanel-table .okupanel-table-tr .okupanel-day-header-featured i.fa {
    font-size: 20px;
}

.entry-content .okupanel-day-header-featured {
    color: #777;
}

.entry-content .okupanel-table .okupanel-table-tr td i.fa.fa-play,
.entry-content .okupanel-table .okupanel-table-tr td i.fa.fa-bullhorn {
    color: #aaa;
}

